html, body {
	height : 90%;
	font-family: verdana; 
	background-color: #D5E2F2;
	width : 100%;
}


#corps  {  
	height : relative;
	width: 90%;
	max-width: 1090px;
	margin: auto;
	text-align: center;
}


/**/
/* Styles de l'en-tête */
header {
	height: 100px;
	background-color : #763229;
	margin : auto; 
	color : White;
	text-align : center;	
	letter-spacing : 0.5em;
	padding-top : 2px;
	font-weight : x-bold;
	font-family : "Trebuchet MS";
}

header img.right {
	padding-top :12px;
	float : right;
}

header img.left {
	padding-top :10px;
	padding-left : 10px;
	float : left;
	max-width: 80px;
	height: auto;
}


/**/
/* Styles du menu de navigation */

/*///////////////////////////////////////////////////////////////////////// MENU KOSMAL !!
nav {
	border-top : 2px solid White;
	background-color : #763229;
	
	
}

nav ul { 
	height : 40px;
	list-style-type : none; 
	margin : 0;
	padding : 0;
	
}

nav li {

    display: inline-block;
}
 
nav ul li {
	padding : 0 0.5em;  
	line-height : 30px;
	width : 18%;
	
}

nav ul li.bouton_gauche {
	float : left;
	border-right : 3px dashed white;
	
}
 
nav ul li.bouton_droite {
	float : right;
	border-left : 3px dashed white;
}
 
nav ul a {
	color : white;
	text-decoration : none;
	font-size : small;
	font-weight : bolder;

}
 
nav ul a:hover { 
	color : white;
	font-weight : bolder;
}

//////////////////////////////////////////////////////////////*/

section {
	background-color : white;
	padding-bottom: 10px;
}



#objet{
	text-align: left;
}

#noLine {
	border: hidden;
	border-collapse: hidden;
	float: left;
	text-align: left;
}



table {
    border-collapse: collapse;
	margin: auto;
}



th {
	background-color : grey;
}

td, th {

    border: 2px solid black;
}

/*Menu Deroulant //////////////////////////////////////////////////////////////*/

#menu, #menu ul{
padding:0;
padding-bottom:5px;
margin:0;
list-style:none;
text-align:float;
background-color : #763229;
/*border-top : 3px solid White; */
}
#menu li{
display:inline-block;
position:relative;
border : 2px solid White;
/*border-radius:8px 8px 0 0;*/
}
#menu ul li{
display:inherit;
border-radius:0;
}
#menu ul li:hover{
border-radius:0;
}
#menu ul li:last-child{
border-radius:0 0 8px 8px;
}
#menu ul{
position:absolute;
max-height:0;
left: 0;
right: 0;
overflow:hidden;
-moz-transition: .8s all .3s;
-webkit-transition: .8s all .3s;
transition: .8s all .3s;
}
#menu li:hover ul{
max-height:15em;
}
/* background des liens menus */
#menu li:first-child{
background-color: #763229;
background-image:linear-gradient(top, #763229 0%, #763229 100%);
background-image:linear-gradient(to bottom, #763229 0%, #763229 100%);
}
#menu li:nth-child(2){
background-color: #763229;
background-image:linear-gradient(top, #763229 0%, #763229 100%);
background-image:linear-gradient(to bottom, #763229 0%, #763229 100%);
}
#menu li:nth-child(3){
background-color: #763229;
background-image:linear-gradient(top, #763229 0%, #763229 100%);
background-image:linear-gradient(to bottom, #763229 0%, #763229 100%);
}
#menu li:last-child{
background-color: #763229;
background-image:linear-gradient(top, #763229 0%, #763229 100%);
background-image:linear-gradient(to bottom, #763229 0%, #763229 100%);
}
/* background des liens sous menus */
#menu li:first-child li{
background:#763229;
}
#menu li:nth-child(2) li{
background:#763229;
}
#menu li:nth-child(3) li{
background:#763229;
}
#menu li:last-child li{
background:#763229;
}
/* background des liens menus et sous menus au survol */
#menu li:first-child:hover, #menu li:first-child li:hover{
background:#763229;
}
#menu li:nth-child(2):hover, #menu li:nth-child(2) li:hover{
background:#763229;
}
#menu li:nth-child(3):hover, #menu li:nth-child(3) li:hover{
background:#763229;
}
#menu li:last-child:hover, #menu li:last-child li:hover{
background:#763229;
}
/* les a href */
#menu a{
text-decoration:none;
display:block;
padding:8px 32px;
color:#fff;
font-family:arial;
}
#menu ul a{
padding:8px 0;
}
#menu li:hover li a{
color:#fff;
text-transform:inherit;
}
#menu li:hover a, #menu li li:hover a{
color:#000;
}

a.btnImpr {
	-webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
	font-size:14px;
    text-decoration: none;
    color: initial;
	
	appearance: push-button;
	-webkit-rtl-ordering: logical;
	user-select: none;
	background-color: rgb(221, 221, 221);
	border-bottom-color: rgb(221, 221, 221);
	border-bottom-style: outset;
	border-bottom-width: 2px;
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left-color: rgb(221, 221, 221);
	border-left-style: outset;
	border-left-width: 2px;
	border-right-color: rgb(221, 221, 221);
	border-right-style: outset;
	border-right-width: 2px;
	border-top-color: rgb(221, 221, 221);
	border-top-style: outset;
	border-top-width: 2px;
	color: rgb(0, 0, 0);
	cursor: default;
	display: inline-block;
	font-family: Arial;
	font-size: 13.3333330154419px;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	height: 21px;
	letter-spacing: normal;
	line-height: normal;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	
	text-align: center;
	text-indent: 0px;
	text-rendering: auto;
	text-shadow: none;
	text-transform: none;
	width: 137px;
	word-spacing: 0px;
	writing-mode: lr-tb;
	-webkit-writing-mode: horizontal-tb;	
	
}

/* Fin menu ///////////////////////////////////////////////////////////////////*/

footer {
	border-top : 2px solid #763229;
	font-size : x-small;
	bottom: 0;
	max-width: 1090px;
	height: 68px;	
}
