html, body {
	height : 100%;
	font-family: verdana; 
	background-color: #D5E2F2;
	width : 100%;
}


#corps  {  
	height : relative;
	width: 90%;
	max-width: 1090px;
	margin: auto;
	text-align: center;
}


/**/
/* Styles de l'en-tête */
header {
	height: 100px;
	background-color : #4682B4;
	margin : auto; 
	color : White;
	text-align : center;	
	letter-spacing : 0.5em;
	padding-top : 2px;
	font-weight : x-bold;
	font-family : "Trebuchet MS";
}

header img.right {
	padding-top :12px;
	float : right;
}

header img.left {
	padding-top :10px;
	padding-left : 10px;
	float : left;
	max-width: 80px;
	height: auto;
}


/**/
/* Styles du menu de navigation */
/*/////////////////////////////////////////////////////////////// Ex MENU KOSMAL !!!
nav {
	border-top : 2px solid White;
	background-color : #4682B4;
}

nav ul { 
	height : 35px;
	list-style-type : none; 
	margin : 0;
	padding : 0;
}
 
nav ul li {
	padding : 0 0.5em;  
	line-height : 30px;
	
}

nav ul li.bouton_gauche {
	float : left;
	border-right : 1px dashed white;
}
 
nav ul li.bouton_droite {
	float : right;
	border-left : 1px dashed white;
}
 
nav ul a {
	color : white;
	text-decoration : none;
	font-size : small;
	font-weight : bolder;
}
 
nav ul a:hover { 
	color : #152736;
	font-weight : bolder;
}
*/

/**/
/* Styles des sections */	
section {
	background-color : white;
	height: 100%;
}

fieldset {
	margin-left : 20% ;
	margin-right : 20% ;
}

table
{
	width: auto;
	margin : auto ;
	border-spacing: 15px;
}

td
{
	padding-top :10px;
	padding-right :10%;
	text-align: left;
	padding-left : 10%;
}

.urgence {
	width: 300px;
	color: #000000;
	font-size: 10px;
	padding-left: 11px;
	padding-top: 7px;
	float: left;
}
.urgence input, .urgence label {
	line-height: 12px;
	vertical-align: middle;
	display: inline;
}

/*Menu Deroulant //////////////////////////////////////////////////////////////*/

#menu, #menu ul{
padding:0;
padding-bottom:5px;
margin:0;
list-style:none;
text-align:float;
background-color : #4682B4;
/*border-top : 3px solid White; */
}
#menu li{
display:inline-block;
position:relative;
border : 2px solid White;
/*border-radius:8px 8px 0 0;*/
}
#menu ul li{
display:inherit;
border-radius:0;
}
#menu ul li:hover{
border-radius:0;
}
#menu ul li:last-child{
border-radius:0 0 8px 8px;
}
#menu ul{
position:absolute;
max-height:0;
left: 0;
right: 0;
overflow:hidden;
-moz-transition: .8s all .3s;
-webkit-transition: .8s all .3s;
transition: .8s all .3s;
}
#menu li:hover ul{
max-height:15em;
}
/* background des liens menus */
#menu li:first-child{
background-color: ##4682B4;
background-image:-webkit-linear-gradient(top, ##4682B4 0%, ##4682B4 100%);
background-image:linear-gradient(to bottom, ##4682B4 0%, ##4682B4 100%);
}
#menu li:nth-child(2){
background-color: ##4682B4;
background-image: -webkit-linear-gradient(top, ##4682B4 0%, ##4682B4 100%);
background-image:linear-gradient(to bottom, ##4682B4 0%, ##4682B4 100%);
}
#menu li:nth-child(3){
background-color: ##4682B4;
background-image:-webkit-linear-gradient(top, ##4682B4 0%, ##4682B4 100%);
background-image:linear-gradient(to bottom, ##4682B4 0%, ##4682B4 100%);
}
#menu li:last-child{
background-color: ##4682B4;
background-image:-webkit-linear-gradient(top, ##4682B4 0%, #4682B4 100%);
background-image:linear-gradient(to bottom, ##4682B4 0%, #4682B4 100%);
}
/* background des liens sous menus */
#menu li:first-child li{
background:##4682B4;
}
#menu li:nth-child(2) li{
background:##4682B4;
}
#menu li:nth-child(3) li{
background:##4682B4;
}
#menu li:last-child li{
background:#4682B4;
}
/* background des liens menus et sous menus au survol */
#menu li:first-child:hover, #menu li:first-child li:hover{
background:#4682B4;
}
#menu li:nth-child(2):hover, #menu li:nth-child(2) li:hover{
background:#4682B4;
}
#menu li:nth-child(3):hover, #menu li:nth-child(3) li:hover{
background:#4682B4;
}
#menu li:last-child:hover, #menu li:last-child li:hover{
background:#4682B4;
}
/* les a href */
#menu a{
text-decoration:none;
display:block;
padding:8px 32px;
color:#fff;
font-family:arial;
}
#menu ul a{
padding:8px 0;
}
#menu li:hover li a{
color:#fff;
text-transform:inherit;
}
#menu li:hover a, #menu li li:hover a{
color:#000;
}

/* Fin menu ///////////////////////////////////////////////////////////////////*/

/**/
/* Styles du pied de page */	
footer {
	border-top : 2px solid #4682B4;
	font-size : x-small;
	position : bottom;
	bottom: 0;
	width: 100%;
	max-width: 1090px;
	height: 10px;	
}
